@keyframes move-to-top {
  0% { botom: 0px;}
  20% { botom: 100px;}
  40% { botom: 200px;}
  60% { botom: 300px;}
  100% {bottom: 300px;}
}

.docker {
  position:fixed;
  left: calc(50% - 150px);
  bottom: 1px;
}

.docker-content {
  border-radius: 8px 8px 8px 8px;
  border: solid 0.1px rgba(135, 135, 135, 0.6);
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(210, 210, 210, 0.3);
  /*opacity: 0.5;*/
}

.docker-content > img {
  width: 32px;
  height: 32px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}